<template>
  <div class="about">
    <h1 class="mb-5">
		Name: {{name}}
    </h1>
	<h1 class="mb-5">
		Email: {{email}}
    </h1>
	<h1 class="mb-5">
		Password: {{password}}
    </h1>
    <button @click="greetings()" class="btn btn-danger">
      Mixin 
    </button>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'  // Add mapMutations
import {myMixin} from '@/mixins/my-mixin'

export default {
  name: 'HelloWorld',
  mixins: [myMixin],
	props: {
		msg: String
	},
	data() {
		return {
		}
	},
    computed: {
      name: {
        get () {
          return this.$store.state.user.name;
        },
        set (val) {
          this.UPDATE_NAME(val);
        }
      },
      email: {
        get () {
          return this.$store.state.user.email;
        },
        set (val) {
          this.UPDATE_EMAIL(val);
        }
      },
      password: {
        get () {
          return this.$store.state.user.password;
        },
        set (val) {
          this.UPDATE_PASSWORD(val);
        }
      },
    },
	methods: {
		...mapMutations('user', [
			'UPDATE_NAME',
			'UPDATE_EMAIL',
			'UPDATE_PASSWORD'
		]),
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
	color: #fff;
	border-bottom: 1px solid #fff!important;
}
</style>

