<template>
	<div class="container">
		<form @submit.prevent="validateBeforeSubmit">
			<div class="form-group">
				<label for="exampleInputName1">
					Name
				</label>
				<input type="text" name="name" 
					class="form-control" 
					id="exampleInputName" 
					aria-describedby="nameHelp" 
					placeholder="Name"
					v-model="name"
					v-validate="'required'"
					:class="{'input': true, 'is-danger': errors.has('name') }"
				/>
				<i v-show="errors.has('name')" class="fa fa-warning"></i>
        <span v-show="errors.has('name')" class="help is-danger">
					{{ errors.first('name') }}
				</span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">
					Email
				</label>
				<input type="email"	name="email"
					class="form-control" 
					id="exampleInputEmail1" 
					aria-describedby="emailHelp" 
					placeholder="Enter email"
					v-model="email"
					v-validate="'required'"
					:class="{'input': true, 'is-danger': errors.has('email') }"
				/>
				<i v-show="errors.has('email')" class="fa fa-warning"></i>
				<span v-show="errors.has('email')" class="help is-danger">
					{{ errors.first('email') }}
				</span>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">
					Password
				</label>
				<input type="password" name="password" 
					class="form-control" 
					id="exampleInputPassword1"
					placeholder="Password"
					v-model="password"
					v-validate="'required'"
					:class="{'input': true, 'is-danger': errors.has('password')}"
				/>
				<i v-show="errors.has('password')" class="fa fa-warning"></i>
        <span v-show="errors.has('password')" class="help is-danger">
					{{ errors.first('password') }}
				</span>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
					<button type="submit" class="btn btn-danger mt-3 btn-block">
						Submit
					</button>
				</div>
			</div>
		</form>
		<div class="row justify-content-center mt-2">
			<div class="col-3">
				<button @click="updateVal('MVVT')" class="btn btn-danger btn-block">
					MVVT
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'  // Add mapMutations

export default {
	name: 'HelloWorld',
	props: {
		msg: String
	},
	data() {
		return {
		}
	},
    computed: {
      name: {
        get () {
          return this.$store.state.user.name;
        },
        set (val) {
          this.UPDATE_NAME(val);
        }
      },
      email: {
        get () {
          return this.$store.state.user.email;
        },
        set (val) {
          this.UPDATE_EMAIL(val);
        }
      },
      password: {
        get () {
          return this.$store.state.user.password;
        },
        set (val) {
          this.UPDATE_PASSWORD(val);
        }
      },
    },
	methods: {
		...mapMutations('user', [
			'UPDATE_NAME',
			'UPDATE_EMAIL',
			'UPDATE_PASSWORD'
		]),
		validateBeforeSubmit() {
			this.$validator.validateAll().then((result) => {
				if (result) {
				this.$router.push({name: 'about'});
				alert('Form Submitted!');
				return;
				}
				
				alert('Correct them errors!');
			});
		},
		updateVal(val) {
			this.UPDATE_NAME(val);
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
label {
	color: #fff!important;
}
.is-danger {
	color: red!important;
}
input {
	background-color: transparent!important;
}
.btn {
	background-color: transparent!important;
	border: 2px solid #fff!important;
}
</style>
